<h3 class="ui header">{{t "forms.i-i-s-test3-здание-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.улица
      class=(if (v-get validationModel "улица" "isInvalid") "error")
      label=(t "forms.i-i-s-test3-здание-e.улица-caption")
      data-test-i-i-s-test3-здание-e-улица=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "улица" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерДома
      class=(if (v-get validationModel "номерДома" "isInvalid") "error")
      label=(t "forms.i-i-s-test3-здание-e.номерДома-caption")
      data-test-i-i-s-test3-здание-e-номерДома=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерДома" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.количествоЭтаж
      class=(if (v-get validationModel "количествоЭтаж" "isInvalid") "error")
      label=(t "forms.i-i-s-test3-здание-e.количествоЭтаж-caption")
      data-test-i-i-s-test3-здание-e-количествоЭтаж=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "количествоЭтаж" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-test3-здание-e.город-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.город
      displayAttributeName="наименование"
      autocomplete=true
      relationName="город"
      projection="ГородL"
      title=(t "forms.i-i-s-test3-здание-e.город-caption")
      readonly=readonly
      componentName="городLookup"
      class=(if (v-get validationModel "город" "isInvalid") "error")
      data-test-i-i-s-test3-здание-e-город=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "город" "message")}}
  </div>
</form>
